/* gridact style sheet */

:root {
    --mygrey: #ced4da;
    --mygreybackground: #e9ecef
}

.defaultGridactContainer {
    display: inline-grid;
    grid-template-rows: 40px minmax(0, min-content);
    grid-template-columns: minmax(200px, max-content);
    justify-content: center;
    align-items: center;
}

.table-control {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}


.search-control {
    justify-content: start
}

.add-remove-control {
    justify-content: center
}

.paging-control {
    justify-content: end;
}

.display-inline {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.align-left {
    justify-content: start
}

.align-center {
    justify-content: center
}

.align-right {
    justify-content: end;
}


.selCols {
    background: #87c3ff;
    width: 100%;
}


.rt-td {
    line-height: 20px !important;
    padding: 4px !important;
}


div.react-grid-HeaderCell {
    padding: 2px 0px 0px 0px;
    text-align: center;
}

button.forward {
    background: none;
    border: 0;
    color: dodgerblue;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.paging-font {
    color: dodgerblue;
    font-size: 15px;
    outline: none
}

button.zero {
    background: none;
    border: 0;
}

button.addBtn {
    margin-left: 5px;
    height: 35px;
    border: 0 solid rgba(0, 0, 0, 0);
    background: limegreen;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

button.add.left {
    border: none;
    outline: none;
    background: limegreen;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

button.add.right {
    border: none;
    outline: none;
    background: limegreen;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}


button.add.right:focus, button.add.left:focus {
    background: lightgreen;
}


button.removeBtn {
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    height: 35px;
    border: none;
    background: orangered;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.hand:hover {
    cursor: pointer
}

/*table {*/
/*    table-layout: fixed;*/
/*}*/

.moverlay {
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(255, 150, 150, 0.9);
    font-size: 0.8em;
    color: white;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    opacity: 0;
}


.FFtable {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-size: 0.9rem;
    border-spacing: 0px;
    border-collapse: collapse;
}

.FFtable.td {
    height: 30px;
    /*overflow: hidden;*/
}

/*.FFtable th,*/
/*.FFtable td {*/
/*    padding: 2px;*/
/*    border: 1px solid var(--mygreyborder);*/
/*}*/

/*.FFtable thead th {*/
/*    vertical-align: center;*/
/*    height: 30px;*/
/*    background-color: white;*/
/*    border: 1px solid black !important;*/
/*}*/

/*.FFtable tbody tr:nth-child(odd) {*/
/*    background: rgba(0, 0, 0, 0.03);*/
/*}*/

.table-head-cell-sort {
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 2px
}

.table-head-cell-no-sort {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 2px
}

.table-head-text {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    align-items: center;
    justify-content: start;
    width: 100%;
    white-space: nowrap;

}

.sort-arrows {
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    align-items: end;
    justify-content: end;
}

.iconic {
    width: 24px;
    height: 24px;
}

.iconic:hover {
    fill: red;
}

@media screen and (max-width: 800px) {
    .main-table-container {
        grid-template-rows: 120px 1fr;

    }

    .table-control {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .display-inline {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
        justify-content: center;
        margin-bottom: 3px;
}

    .defaultGridactContainer {
        margin-top: 0;
        display: inline-grid;
        grid-template-rows: minmax(0, min-content) minmax(0, min-content);
        grid-template-columns: minmax(200px, min-content);
        justify-content: center;
    }

    .search-control {
        justify-content: center;
    }

    .add-remove-control {
        justify-content: center;
    }

    .paging-control {
        justify-content: center;
    }
}

