.whTable tbody tr td {
    height: 20px;
    font-weight: normal;
}

.whTable {
    border: 1px solid rgba(0, 230, 0, 1);
    background: rgb(206, 206, 206);
    font-size: 0.8em;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.whTable tbody tr {
    background: rgb(206, 206, 206);
}
.whTable tbody tr td {
    border: 1px solid rgb(134, 134, 134);
}

.whTable tr.focused {
    background: var(--crxpinklt) !important;
    color: white;
    outline: 0
}

.whTable tbody tr:nth-child(odd) {
    background: rgb(180, 180, 180) !important;
}

.whTable tbody tr.focused:nth-child(odd) {
    background: var(--crxpinklt) !important;
    color: white;
    outline: 0
}

.whTable tbody:hover tr:hover {
    background: var(--crxgreen) !important;
}



/*.noScrollBar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    display: block;
    background-color: #bbb;
    outline: none
}

.noScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--crxpink)
}

.noScrollBar:focus {
    outline: none
}*/
